{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}École de Conduite{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-gray-50 min-h-screen flex flex-col">

    <header class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
            <div class="text-2xl font-bold text-indigo-600">
                🚗 DrivingSchool
            </div>
            <nav class="text-gray-600 font-medium flex flex-col md:flex-row gap-1 md:gap-4">
                <a href="{% url 'dashboard' %}" class="hover:text-indigo-600">Dashboard</a>

                {% if user.is_authenticated and user.role == 'STUDENT' %}
                <a href="{% url 'user_planning' %}" class="hover:text-indigo-600">Mon planning</a>
            {% elif user.is_authenticated and user.role == 'INSTRUCTOR' %}
                <a href="{% url 'user_planning' %}" class="hover:text-indigo-600">Mon planning</a>
            {% endif %}
            
                <a href="{% url 'logout' %}" class="hover:text-red-500">Déconnexion</a>
            </nav>
        </div>
    </header>

    <main class="flex-grow container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-white border-t py-4 text-center text-sm text-gray-400">
        © 2025 DrivingSchool. Tous droits réservés.
    </footer>

</body>
</html>
